.nav-list {
  width: 100%;
  display: flex;
  align-item: center;
  counter-reset: step;
  margin-top: 20px;
}
.nav-item {
  flex: 1;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.nav-item:before {
  content: counter(step);
  counter-increment: step;
  display: block;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  margin: auto;
  vertical-align: middle;
}
.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 25px;
  left: -50%;
  z-index: -1;
}
.nav-item:first-child:after {
  content: none;
}
.nav-item.active {
  color: red;
}
